@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.introContainer {
  height: calc(100vh - 52px);
}

.introContainerMobile {
  height: max-content;
  min-height: calc(100vh - 48px);
}

.contactContainer {
  height: calc(100vh - 56px);
  min-height: calc(100vh - 56px);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-gradient-to-b from-light-base0D/70 to-light-base0C/70 dark:from-dark-base0D/70 dark:to-dark-base0C/70;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-light-base05 dark:bg-dark-base05;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-light-base06 dark:bg-dark-base06;
}

.linux {
  @apply text-5xl font-extrabold lg:text-8xl text-light-base0A/50 dark:text-dark-base0C/50;
}

.mainHeading {
  @apply text-4xl font-bold lg:text-7xl text-light-base08 dark:text-dark-base08;
}
